body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
}

span.keyword {
    font-weight: bolder;
    color: rgb(100, 100, 100);
}

span.value {
    padding-left: 0.15em;
    padding-right: 0.25em;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
}

div.attributes {
    margin-top: 1em;
    margin-left: 1em;
}

div.attributes div.attribute {
    margin-left: 1em;
}

span.quoted-type {
    font-style: italic;
}

div.inline {
    display: inline-block;
}

span.data-reference {
    font-style: italic;
    color: blue;
    text-decoration: underline;
}

input {
    font-size: 12pt;
    border-radius: 5px;
    border: 3px solid yellow;
    background-color: lightyellow;
    padding-left: 5px;
}

input:focus {
    outline: none;
}

select {
    font-size: 12pt;
}

button.add-new {
    font-size: 18pt;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(49, 161, 49);
    cursor: pointer;
}

